.logo {
    margin-left: 99px;
    margin-top: 24px;
}

.flex-container {
    display: flex;
    margin-left: 675px;
    justify-content: flex-end;
    align-items: flex-end;
    justify-content: space-evenly;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 19.55px;
}
